dist/
!www/favicon.ico
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/
jsroots-moestuin-final-groningen-branch.iml

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
